./ngx-admin/node_modules/
.history/

# Ignore bundler config.
./sms-management/.bundle

# Ignore all logfiles and tempfiles.
./sms-management/log/*
./sms-management/tmp/*
!./sms-management/log/.keep
!./sms-management/tmp/.keep

# Ignore uploaded files in development
./sms-management/storage/*
!./sms-management/storage/.keep

./sms-management/yarn-error.log
./ngx-admin/yarn-error.log


./sms-management/.byebug_history

# Ignore Coverage folder
./sms-management/coverage/


# Ignore master key for decrypting credentials and more.
./sms-management/config/master.key

./sms-management/.DS_Store
./sms-management/.ssh/*
./sms-management/mysql-data/*

# dotenv
.env.*
